.Namediv{

   float: left;
   display: inline-block;
   border: 1px solid #eb4034;
   padding-bottom: 0px;
}

.Head{

    border: 1px solid #42f98d;
    clear: both;
    overflow: auto;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.lis{

    float: right;
    display: inline-block;
    border: 1px solid #F4E1E8;
    min-height: 100%;
}



@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.Name{
    word-wrap: break-word;
    font-size: 5vw;
    padding-bottom: -10px;
    color: white;
    font-family: 'Bebas Neue', cursive;
    margin: auto;
    float: left;
    padding-left: 20px;
}

.blink {
    animation: blinker 1s linear infinite;
    color: #1c87c9;
    font-size: 2.2vh;
    font-weight: bold;
    font-family: sans-serif;
    background-color: orange;
}
@keyframes blinker {
50% {
  opacity: 0;
}
}





.toptext{
    width: 30%;
    overflow: auto;

    float: left;

    margin-top: 0vh;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    padding-left: 20px;
}
.toptop{
    width: 100%;
    overflow: auto;
}
.midmid{
    width: 100%;
    overflow: auto;
        clear: both;
        padding-top: 2vh;
}
canvas {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
}
.body{
background: rgba(1,0,0,1);
    margin: 0;
    padding: 0;
}

.txtholder1{
    width: 75%;
    float: center;
    margin: auto;
}
.txtholder2{
    width: 90%;
    float: center;
    margin: auto;
}
.txtholder3{
    width: 90%;
    float: center;
    margin: auto;
    margin-top: 4vw;
}
.abtext{

    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    padding: 1vh;
    color: white;
    font-size: 3vh;
}


.contactbar{
    margin: auto;
    background: rgba(175, 175, 175, 0.4);
    display: flex;
    margin-top: 1vh;
}



.contacttitle{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 2vh;



}
.simtitle{
	text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 4vh;

	

}
.simdesc{
	text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 2vh;
}


.simstitle{

    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    color: white;
    font-size: 8vh;

}
.projects{
padding-top: 12vh;
border-radius: 25px;

}
.moreinfo {
  border: none;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  height: 50%;
  margin: auto;
  color: white;
  background-color: inherit;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 4vh;
    width: 25%;
}

.moreinfo:hover {background: rgba(200,200,200,0.2);}



.projtext{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    padding: 1vh;
    color: white;
    font-size: 3vh;
}
.othertext{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    padding: 1vh;
    color: white;
    font-size: 4vh;
    margin: auto;
    display: block;
}
.abtexttop{

    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    padding: 1vh;
    color: white;
    font-size: 4vh;


}


.About{
    text-align: left;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    padding: 1vh;
    font-size: 4vh;
    color: white;

}
.ptitle{
    display:flex;
    width: 100%;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    padding: 1vh;
    color: white;
    font-size: 4.5vh;
}
.listinfo{
    color: white;
    font-family: 'Oswald', sans-serif;
    margin-top: 5vh;
    font-size: 3vh;

}



.pdesc{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 3vh;
    display: flex;
}
.projectrowtop{
    display: flex;
    border-radius: 25px;
    border: 4px solid #73AD21;
    margin-top: 3vh;
}
.projectrow{
    position:relative;
    display: flex;
    border-radius: 25px;
    border: 4px solid #73AD21;
    margin-top: 1vh;
}
.otherrowtop{
    display: block;
    border-radius: 25px;
    border: 4px solid #73AD21;
    margin-top: 3vh;

}
.otherrow{
    display: flex;
    border-radius: 25px;
    border: 4px solid #73AD21;
    margin-top: 1vh;
}
.projectrowbottom{
    display: flex;
    border-radius: 25px;
    border: 4px solid #73AD21;
    margin-top: 1vh;
    margin-bottom: 3vh;

}

.contact{
  display: block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 1.5vw;
  margin:auto;


}
@media screen and (max-width : 711px ){

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 3vw;
}

}
ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
  font-size: 3vw;
  font-family: 'Bebas Neue', cursive;
}
.abouttext{
    color: white;
    padding-top: 0px;
    text-align: left;
    font-size: 2.2vh;
    float: left;


}

ul.topnav li {float: left;}

ul.topnav {
  list-style-type: none;
  margin: 0;
  /* padding: ; */
  overflow: hidden;
    display: flex;
  flex-direction: row;
  justify-content: flex-end;
     /* // border: 1px solid #F4F1E8; */
}


.moreinfo {
  border: none;
  font-size: 16px;
  cursor: pointer;
  height: 50%;
  margin: auto;
  color: white;
  background-color: inherit;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 2vh;
    width: 25%;
}

.moreinfo:hover {background: rgba(200,200,200,0.2);}







* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  
}
.mySlides2 {
  display: none;
	width: 50%;
	margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
